Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe de votre compte sur notre site.

Veuillez vous rendre sur la page suivante pour choisir un nouveau mot de passe :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur, en cas de besoin : {{ user.get_username }}

Si vous n'avez pas demandé de réinitialisation, veuillez ignorer cet email. Le mot de passe de votre compte ne sera pas modifié tant que vous ne cliquerez pas sur le lien ci-dessus et ne créerez pas un nouveau.

Cordialement,
L'équipe Eshop
